
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEducationLabel" translate="slrgApp.education.home.createOrEditLabel">Create or edit a Education</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.education.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.education.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="slrgApp.education.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="vm.education.note"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="slrgApp.education.valid" for="field_valid">Valid</label>
                <div class="input-group">
                    <input id="field_valid" type="text" class="form-control" name="valid" uib-datepicker-popup="{{dateformat}}" ng-model="vm.education.valid" is-open="vm.datePickerOpenStatus.valid"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('valid')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="slrgApp.education.member" for="field_member">Member</label>
            <select class="form-control" id="field_member" name="member" ng-model="vm.education.memberId" ng-options="member.id as member.id for member in vm.members"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="slrgApp.education.educationtype" for="field_educationtype">Educationtype</label>
            <select class="form-control" id="field_educationtype" name="educationtype" ng-model="vm.education.educationtypeId" ng-options="educationtype.id as educationtype.name for educationtype in vm.educationtypes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
