
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFurtherEducationLabel" translate="slrgApp.furtherEducation.home.createOrEditLabel">Create or edit a Further Education</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.furtherEducation.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.furtherEducation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="slrgApp.furtherEducation.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.furtherEducation.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="slrgApp.furtherEducation.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.furtherEducation.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="slrgApp.furtherEducation.niveau" for="field_niveau">Niveau</label>
            <input type="text" class="form-control" name="niveau" id="field_niveau"
                    ng-model="vm.furtherEducation.niveau"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="slrgApp.furtherEducation.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.furtherEducation.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="slrgApp.furtherEducation.member" for="field_member">Member</label>
            <select class="form-control" id="field_member" name="member" ng-model="vm.furtherEducation.memberId" ng-options="member.id as member.name for member in vm.members"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="slrgApp.furtherEducation.teacher" for="field_teacher">Teacher</label>
            <select class="form-control" id="field_teacher" name="teacher" ng-model="vm.furtherEducation.teacherId" ng-options="member.id as member.name for member in vm.members"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
